.back-arrow {
    align-content: center;
    text-align: center;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 3em;
}

.back-arrow p {
    padding-top: 1em;
}

.arrow-btn {
    border: none;
    width: 20px;
}

.cart-review {
    width: 75%;
    margin: auto;
    margin-top: 1em;
}

.cart-review-cotainer {
    display:flex;
    width: 75%;
    margin: .3em auto;
    background-color: #f9fafc;
    padding: 2em;
    
}

#cart-container-hidden {

}

.quantity {
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.quantity button {
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.quantity p {
    padding-top: 1em;
}

.delete-container {
    flex:1 0 auto;
    align-items: flex-end;
    align-content: center;
    justify-content: space-around;
}

#delete-item {
    width: 40px;
    height: 40px;
}

.down-arrow {
    border: none;
    background-color: none;
    width: 30px;
}

.form-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
}

.form-contact {
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-contact-label {
    margin-top: 2em;
}

.shipping-address {
    margin-top: 2em;
}

.form-address-container {
    justify-content: space-between;
}

.form-address-label {
    margin-top: 2em;
}

.form-country-label {
    margin-top: 2em;
}

.form-address {
    width: 41.5%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.form-country {
    width: 41.5%;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-between;
    margin-top: 2em;
}

.order-summary-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.sub-total-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9fafc;
}

.shipping-container {
    display: flex;justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #f9fafc;
}

.total-container {
    display: flex;
    justify-content: space-between;
}

.btn-red {
    background-color: #eb4a5a!important;
    border: none;
    color: white;
    padding: .3em;
}

.btn-white {
    color: #274671;
    border: 1px solid #274671;
    background-color: white;
    padding: .3em;
}