* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-scroll {
    overflow: hidden;
}

.cart-logo {
    width: 100%;
    height: 30px;
}

.cart-container {
    display: flex;
    justify-content: flex-end;
}

.cart-container button {
    border: none;
    margin-right: 1em;
}

.academlo {
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #eb4a5a;
}

#container {
    width: 80%;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-bottom: 3em;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.academlo-img {
    width: 70%;
    height: 130px;
}

.item {
    height: 350px;
}

.items-container {
    display: flex;
    flex-direction: column;
}

.item-img-container {
    width: 100%;
    text-align: center;
    background-color: red;
}

.item-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.item-image {
    height: 200px;
}

.item-img-container img {
    width: 70%;
    height: 110px;
}

.button {
    border-radius: .4em;
    font-family: 'Rubik', sans-serif;
}

.cart-review-cotainer {
    display:flex;
    width: 75%;
    margin: .3em auto;
    background-color: #f9fafc;
    padding: 2em;
    
}

.cart-image {

}

.cart-review-img {
    width: 100%;
}

footer {
    background-color: #E6E6E6;
    margin: 0;
}

.footer-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;
    border-top: 1px solid black;
    padding: 1em;
    margin-top: 40px;
}